[*.cs]

# CA1031: Do not catch general exception types
dotnet_diagnostic.CA1031.severity = none

# CA1062: Validate arguments of public methods
dotnet_diagnostic.CA1062.severity = none

# CA1515: Consider making public types internal
dotnet_diagnostic.CA1515.severity = none

# CA1860: Avoid using 'Enumerable.Any()' extension method
dotnet_diagnostic.CA1860.severity = none

# CA2007: Consider calling ConfigureAwait on the awaited task
dotnet_diagnostic.CA2007.severity = none


# IDE0008: Use explicit type
csharp_style_var_when_type_is_apparent = true

# IDE0008: Use explicit type
csharp_style_var_for_built_in_types = true

# IDE0008: Use explicit type
csharp_style_var_elsewhere = true

# IDE0011: Add braces
csharp_prefer_braces = when_multiline

# IDE0022: Use block body for methods
csharp_style_expression_bodied_methods = when_on_single_line

# IDE0061: Use block body for local functions
csharp_style_expression_bodied_local_functions = when_on_single_line
